@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
/*--------------------------------- HEADER ---------------------------------*/
header{
    background: #212529;
}
h4{
    margin: 0;
    padding: 0;
}

.button{
    border: none;
    color: #dbdfe2;
    border-radius: 6px;
    padding: 7px 15px;
    border-bottom: 5px solid #000;
    margin-left: 3px;
    margin-right: 3px;
    transition: 0.2s;
}
.button:hover{
    color: #dbdfe2;
    background: #000;
    box-shadow: 0 0 10px 0px #000,
                0 0 15px 0px #000;
}

.covid_vaccin{
    display: block;
    padding: 7px 15px;
    border: 2px solid rgb(248, 0, 0);
    color: rgb(255, 0, 0)!important;
    border-radius: 5px;
    animation: before_hover 2s infinite;
}
@keyframes before_hover{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0 0 20px 2px rgb(255, 0, 0);;
    }
    100%{
        box-shadow: none;
    }
}
.covid_vaccin:hover{
    border: 2px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0)!important;
    animation: after_hover 2s infinite;
}
@keyframes after_hover{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0 0 20px 2px rgb(0, 255, 0);
    }
    100%{
        box-shadow: none;
    }
}
/*--------------------------------------- SLIDER ---------------------------------------*/
.bg_wallpaper{
    background: linear-gradient(270deg,rgba(245,246,252,.4),rgba(144,242,255,.5)),url('../images/cover.a59207e6.jpg');
    background-size: cover;
    min-height: 500px;
}
.shadow_my{
    box-shadow: 0 0 53px 0px #000;
}
/*--------------------------------------- DOCTORS ---------------------------------------*/
#doctors{
    background: url('../images/doctors-bg.5d805e4f.svg');
    background-attachment: fixed;
    background-size: cover;
}
.card{
    background: #1d312eb3;
    transition: .2s;
}
.card:hover{
    box-shadow: 0 0 10px 0 #297ea6,
                0 0 20px 0 #297ea6,
                0 0 30px 0 #297ea6;
    transform: scale(1.02, 1.02);
    background: #1d312e;
}
/*--------------------------------------- FOOTER ---------------------------------------*/
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_left a{
    color: #fff;
}
.footer_left a:hover{
    color: #198754;
    text-decoration: none;
}
/*-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y HEALTH CARE START -Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y*/
.e-mail{
    background: url('../images/index.png');
    z-index: 1;
    background-attachment: fixed;
    min-height: 100vh;
}
.form_class{
    background: rgb(41 126 166 / 22%);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 15px 8px #297ea6;
}
.from_container{
  width: 100%;
  height: auto;
  color: #fff;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.front_card{
  width: 350px;
  height: auto;
  perspective: 10000px;
}
.inner_box{
  position: relative;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
}
.front_card, .back_card{
  position: absolute;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  padding: 55px;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.back_card{
  transform: rotateY(180deg);
}
/*-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y ABOUT START -Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y*/
.abour-owner{
    background: url('../images/about-contact-bg.0171ce78.svg');
    background-attachment: fixed;
}
.about_card{
    background: #2e75b6;
}
.about_owner{
    background: #e2f0d9;
}
.about_owner img{
    box-shadow: 0 0 15px 0 #000;
}
/*-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y CONTACT START -Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y*/
.contact_form{
    background: rgba(0,52,82,.589);
    background-image: linear-gradient(0deg,rgba(0,39,61,.5) 0,rgba(128,208,199,.568));
    box-shadow: 0 0 18px 5px rgba(41,126,166,.66);
}
/*-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y GO BACT START -Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y-Y*/
.go_back_wrapper{
  background: url(../images/error-bg.7676aecf.svg);
  background-attachment: fixed;
}
.error{
  background: rgba(0,0,0,.8);
  box-shadow: 0 0 15px 8px #297ea6;
  margin-top: 3rem;
}
